<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Craft beer typewriter kale chips selvage cray, occupy tacos chillwave
      raclette quinoa jianbing prism butcher letterpress kickstarter.
      Bushwick vape heirloom blog. Fashion axe truffaut godard cloud bread,
      chartreuse banjo austin retro taiyaki cronut art party pabst cred.
      Street art four dollar toast four loko mumblecore butcher yr roof party neutra.
    </p>
  </div>
</div>
